.header {
  align-items: center;
  background: var(--color-white);
  display: flex;
  height: var(--header-height);
  justify-content: flex-end;
  opacity: 0.7;
  padding: 0 1.2rem;
  position: sticky;
  top: 0;
  transition: opacity ease-in-out 0.2s;
  width: 100%;
  z-index: var(--z-index-header);
}

.header:hover {
  opacity: 1;
}

.spacer {
  margin-left: 1.6rem;
}

.categoryPill {
  align-items: center;
  background: var(--color-white);
  color: var(--color-fg-gray-primary);
  display: flex;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  height: 3.2rem;
  padding: 0.8rem 1.4rem;
  position: relative;
}

.categoryPill::before {
  border-radius: var(--deca-border-radius);
  box-shadow: 0 0.1rem 0.3rem var(--color-shadow-large),
    0 0.3rem 1rem transparent, inset 0 0 0 0.1rem var(--color-bg-gray-secondary);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.categoryPill span {
  align-items: center;
  display: flex;
  position: relative;
}

.headerViewToggleContainer {
  align-items: center;
  display: flex;
}

.headerViewToggleIcon {
  display: flex;
  flex: 1;
  margin-right: 1.6rem;
}

.shareView {
  margin-right: 1.2rem;
}
