.list {
  counter-reset: number;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  counter-increment: number;
  margin: 0;
  padding: 0.6rem 0 0.6rem 4rem;
  position: relative;
}

.item::before {
  align-items: center;
  box-shadow: 0 0 0 0.133rem var(--color-bg-gray-secondary);
  border-radius: 0.2rem;
  content: '';
  display: flex;
  height: 1.6rem;
  justify-content: center;
  left: 0.4rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 1rem;
  transform: rotate(45deg);
  width: 1.6rem;
}

.item::after {
  align-items: center;
  border-radius: 50%;
  color: var(--color-fg-gray-primary);
  content: counter(number, lower-alpha);
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  height: 2.4rem;
  justify-content: center;
  left: 0;
  line-height: 2.4rem;
  padding: 0 0 0 0.1rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 0.6rem;
  width: 2.4rem;
}

.itemTitle {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0;
  position: relative;
}

.item > ul {
  margin-top: 1.2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.item li p {
  font-size: 0.9em;
}

.placeholder {
  align-items: center;
  color: var(--color-bg-gray-primary);
  display: flex;
  font-weight: 400;
  height: 1.8rem;
  left: 0;
  position: absolute;
  top: 0.3rem;
  user-select: none;
  z-index: -1;
}
