.placeholder {
  align-items: center;
  color: var(--color-bg-gray-primary);
  display: flex;
  height: 1.8rem;
  left: 0;
  position: absolute;
  top: 0;
  user-select: none;
  z-index: -1;
}

.placeholder.hidden {
  display: none;
}

.placeholder kbd {
  align-items: center;
  border: solid 0.1rem var(--color-bg-gray-tertiary);
  border-radius: 0.4rem;
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: 500;
  height: 2rem;
  justify-content: center;
  line-height: 2rem;
  margin: 0.2rem 0.6rem 0;
  width: 2rem;
}
