.kbd {
  align-items: center;
  border-radius: var(--deca-border-radius);
  box-shadow: 0 0.1rem 0.3rem var(--color-shadow-large),
    0 0.3rem 1rem transparent, inset 0 0 0 0.1rem var(--color-bg-gray-tertiary);
  color: var(--color-fg-gray-primary);
  display: inline-flex;
  font-family: var(--font-sans-serif);
  font-size: 1.2rem;
  font-weight: 500;
  height: 2rem;
  justify-content: center;
  line-height: 2rem;
  margin: 0 0.2rem;
  min-width: 2rem;
  padding: 0 0.4rem;
  position: relative;
  top: -0.1rem;
}
