.placeholder {
  color: var(--color-bg-gray-primary);
  display: block;
  font-weight: 400;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  white-space: nowrap;
  z-index: 0;
}
