.placeholder {
  align-items: center;
  color: var(--color-bg-gray-primary);
  display: flex;
  height: 1.8rem;
  left: var(--editor-side-padding);
  position: absolute;
  top: 0;
  user-select: none;
  z-index: -1;
}

.placeholder.hidden {
  display: none;
}

.placeholder kbd {
  align-items: center;
  background: #edeffe;
  border-radius: var(--deca-border-radius);
  box-shadow: inset 0 0 0 0.1rem var(--color-bg-gray-secondary),
    0 0.1rem 0 var(--color-bg-gray-secondary);
  color: var(--color-blue);
  display: inline-flex;
  font-size: 1.3rem;
  font-weight: 700;
  height: 1.8rem;
  justify-content: center;
  line-height: 1.8rem;
  margin: 0.2rem 0.6rem 0;
  width: 1.8rem;
}
