.wrapper {
  margin: 7rem 0 10rem 0;
  position: relative;
}

.wrapper::before {
  background: var(--color-white);
  border-radius: var(--deca-border-radius);
  box-shadow: 0 0.1rem 0.3rem var(--color-shadow-large),
    0 0.3rem 1rem transparent, inset 0 0 0 0.1rem var(--color-bg-gray-tertiary);
  content: '';
  cursor: text;
  display: block;
  height: calc(100% + 3.2rem);
  left: -1.6rem;
  position: absolute;
  top: -1.6rem;
  transition: box-shadow 200ms ease;
  width: calc(100% + 3.2rem);
}

.wrapper.active::before {
  box-shadow: 0 0.1rem 0.3rem var(--color-shadow-large),
    0 0.3rem 1rem var(--color-shadow-large),
    inset 0 0 0 0.1rem var(--color-bg-gray-tertiary);
}

.wrapper.active h2 {
  color: var(--color-fg-gray-primary);
  path {
    stroke: var(--color-fg-gray-primary);
  }
}

.toolName {
  align-items: center;
  color: var(--color-bg-gray-primary);
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  justify-content: flex-end;
  left: 0;
  line-height: 1.3rem;
  pointer-events: none;
  position: absolute;
  text-align: right;
  top: -5.6rem;
  user-select: none;
}

.toolName svg {
  margin-right: 0.8rem;
}

.dragHandle {
  position: absolute;
  z-index: 1;
  left: -45px;
  width: 35px;
  top: 0;
  cursor: drag;

  circle {
    fill: var(--color-bg-gray-primary);
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    visibility: hidden;
  }
}

.dragHandle.active circle {
  fill: var(--color-fg-gray-primary);
}

.dragHandle.active,
.dragHandle:active,
.dragHandle:hover,
.wrapper:hover .dragHandle {
  circle {
    opacity: 1;
    visibility: visible;
  }
}
