.button {
  align-items: center;
  background: var(--color-white);
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0 0.1rem 0.3rem var(--color-bg-gray-tertiary),
    inset 0 0 0 0.1rem var(--color-bg-gray-secondary);
  color: var(--color-fg-gray-primary);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  font-weight: 500;
  height: 2.8rem;
  line-height: 1.6rem;
  outline: none;
  padding: 0.6rem 0.8rem;
}

.button:hover {
  background: #edeffe;
  box-shadow: 0 0.1rem 0.3rem var(--color-bg-gray-tertiary),
    inset 0 0 0 0.1rem var(--color-blue);
  color: var(--color-blue);
}

.button:focus,
.button:active {
  background: #edeffe;
  box-shadow: 0 0.1rem 0.3rem var(--color-bg-gray-tertiary),
    inset 0 0 0 0.2rem var(--color-blue);
  color: var(--color-blue);
}
