.choices {
  user-select: none;
  margin: 0;
  padding: 0 0 0.2rem 0;
  position: relative
}

.list {
  counter-reset: number;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative
}

.explanation {
  line-height: 2.4rem;
  padding: 0.6rem 0 0.6rem 0;
  position: relative
}

.item {
  --color-choice: var(--color-blue);
  counter-increment: number;
  margin: 0;
  padding: 0.6rem 0 0.6rem 4rem;
  position: relative;
}

.item::before {
  align-items: center;
  background: var(--color-choice);
  border-radius: 50%;
  color: var(--color-white);
  content: counter(number, upper-alpha);
  display: flex;
  font-size: 1.3rem;
  font-weight: 700;
  height: 2.4rem;
  justify-content: center;
  left: 0;
  line-height: 2.4rem;
  padding: 0 0 0 0.1rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 0.6rem;
  width: 2.4rem;
}

.item:nth-child(1)::before {
  --color-choice: var(--color-blue);
}

.item:nth-child(2)::before {
  --color-choice: var(--color-pink);
}

.item:nth-child(3)::before {
  --color-choice: var(--color-orange);
}

.item:nth-child(4)::before {
  --color-choice: var(--color-green);
}

.item:nth-child(5)::before {
  --color-choice: var(--color-red);
}

.item:nth-child(6)::before {
  --color-choice: var(--color-purple);
}

.itemTitle {
  color: var(--color-bg-gray-primary);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0;
  position: relative;
}

.itemTitleSelected {
  color: var(--color-black);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0;
  position: relative;
}

.item > ul {
  margin-top: 1.2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.item li p {
  font-size: 0.9em;
}

.button {
  color: var(--color-fg-gray-primary);
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  max-width: 20rem;
}

.input {
  display: none;
}

.placeholder {
  align-items: center;
  color: var(--color-bg-gray-primary);
  display: flex;
  font-weight: 400;
  height: 1.8rem;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0.3rem;
  user-select: none;
}
