.wrapper {
  max-width: calc(64rem + (var(--editor-side-padding) * 2));
  position: relative;
  width: 100%;
}

.slashWrapper {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10;
}

.editor {
  max-width: calc(64rem + (var(--editor-side-padding) * 2));
  min-height: calc(100vh - var(--header-height) - 3.2rem);
  // Give extra spacing to editor to click onto a line more easily
  padding: var(--editor-top-padding) var(--editor-side-padding)
    var(--editor-bottom-padding);
}

// Ensures that the input caret is above inline placeholders.
// Could cause unexpected overlapping elements in the future.
.editor span[data-slate-node='text'] {
  display: inline-block;
  position: relative;
  z-index: 1;
}
