.title {
  font-family: var(--font-serif);
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 4.8rem;
  margin: 0;
  padding-bottom: 0.8rem;
}

.p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0.4rem 0;
}

.ul,
.ol {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0.4rem 0;
  padding-left: 2.4rem;
}

// Alternate disc/circle/square styles up to 10 levels deep
.ul,
.ul ul ul ul,
.ul ul ul ul ul ul ul,
.ul ul ul ul ul ul ul ul ul ul {
  list-style-type: disc;
}

.ul ul,
.ul ul ul ul ul,
.ul ul ul ul ul ul ul ul {
  list-style-type: circle;
}

.ul ul ul,
.ul ul ul ul ul ul,
.ul ul ul ul ul ul ul ul ul {
  list-style-type: square;
}

// Alternate decimal/lower-latin/lower-roman styles up to 10 levels deep
.ol,
.ol ol ol ol,
.ol ol ol ol ol ol ol,
.ol ol ol ol ol ol ol ol ol ol {
  list-style-type: decimal;
}

.ol ol,
.ol ol ol ol ol,
.ol ol ol ol ol ol ol ol {
  list-style-type: lower-latin;
}

.ol ol ol,
.ol ol ol ol ol ol,
.ol ol ol ol ol ol ol ol ol {
  list-style-type: lower-roman;
}
