.header {
  align-items: center;
  background: var(--color-bg-gray-blue);
  border-bottom: solid 0.1rem var(--color-bg-gray-tertiary);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 1.2rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: var(--z-index-header);
}

.left {
  align-items: center;
  display: flex;
  width: 24.8rem;
}

.right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.right > * {
  margin-left: 1.6rem;
}

.logo {
  align-items: center;
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 0 3.6rem;
}

.symbol {
  color: var(--color-black);
  cursor: default;
  font-family: var(--font-symbol);
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-decoration: none;
}

.wordmark {
  color: var(--color-black);
  font-family: var(--font-wordmark);
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: -0.04em;
  margin: 0.6rem 0 0 0.8rem;
}

.categoryPill {
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  font-weight: 500;
  height: 3.2rem;
  padding: 0.8rem 1.4rem;
  position: relative;
}

.categoryPill::before {
  border-style: solid;
  border-width: 1.6rem;
  border-image: url(/img/dot-border-pill.svg) repeat;
  border-image-slice: 16;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.categoryPill span {
  align-items: center;
  display: flex;
  position: relative;
}
