.header {
  align-items: center;
  background: var(--color-bg-white);
  border-bottom: solid 0.1rem var(--color-bg-gray-tertiary);
  display: flex;
  height: var(--header-height);
  justify-content: center;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  max-width: 114rem;
  padding: 0 0.8rem;
  width: 100%;
}

.logo {
  align-items: center;
  color: var(--color-fg-black);
  display: flex;
  font-family: var(--font-serif);
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  text-decoration: none;
}

.logo:hover {
  text-decoration: underline;
}

.beta {
  align-items: center;
  border: solid 0.1rem var(--color-fg-black);
  border-radius: 50%;
  color: var(--color-fg-black);
  display: flex;
  font-size: 1.2rem;
  height: 1.6rem;
  justify-content: center;
  margin: 0.2rem 0 0 1.2rem;
  width: 1.6rem;
}
