.header {
  align-items: center;
  background: var(--color-bg-white);
  border-bottom: solid 0.1rem var(--color-bg-gray-tertiary);
  display: flex;
  height: var(--header-height);
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: var(--z-index-header);
}

.content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 114rem;
  padding: 0 1.6rem;
  width: 100%;
}

.left {
  align-items: center;
  display: flex;
}

.right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.right > * {
  margin-left: 1.6rem;
}

.logo {
  align-items: center;
  color: var(--color-fg-black);
  display: flex;
  font-family: var(--font-serif);
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  text-decoration: none;
}

.logo:hover {
  text-decoration: underline;
}

.beta {
  align-items: center;
  border: solid 0.1rem var(--color-fg-black);
  border-radius: 50%;
  color: var(--color-fg-black);
  display: flex;
  font-size: 1.2rem;
  height: 1.6rem;
  justify-content: center;
  margin: 0.2rem 0 0 1.2rem;
  width: 1.6rem;
}

.categoryPill {
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  font-weight: 500;
  height: 3.2rem;
  padding: 0.8rem 1.4rem;
  position: relative;
}

.categoryPill::before {
  border-style: solid;
  border-width: 1.6rem;
  border-image: url(/img/dot-border-pill.svg) repeat;
  border-image-slice: 16;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.categoryPill span {
  align-items: center;
  display: flex;
  position: relative;
}

.categoryPill span::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2rem;
  content: '';
  display: block;
  height: 2rem;
  margin-right: 0.8rem;
  width: 2rem;
}

.categoryPill.fast span::before {
  background-image: url(/img/icons/24x24/tool-categorizer-rabbit.svg);
}

.categoryPill.early span::before {
  background-image: url(/img/icons/24x24/tool-categorizer-sunrise.svg);
}

.categoryPill.close span::before {
  background-image: url(/img/icons/24x24/tool-categorizer-flag.svg);
}

.categoryPill.deliberate span::before {
  background-image: url(/img/icons/24x24/tool-categorizer-tachometer.svg);
}
