.wrapper {
  background: var(--color-bg-white);
  border: solid 0.1rem var(--color-bg-gray-secondary);
  border-radius: 0.8rem;
  box-shadow: 0 0.1rem 1rem var(--color-shadow-large),
    0 0.1rem 0.3rem var(--color-shadow-small);
  max-height: 36rem;
  overflow-y: scroll;
  transition: opacity 200ms ease;
  width: 26rem;
  -webkit-overflow-scrolling: touch;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu h2 {
  border-top: solid 0.1rem var(--color-bg-gray-tertiary);
  color: var(--color-fg-black);
  font-size: 1.4rem;
  line-height: 1.3rem;
  margin: 0.4rem 0 0;
  padding: 1.2rem 0.8rem 0.8rem;
}

.menu > li:first-child h2 {
  border: none;
  margin: 0;
}

.item {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0.7rem 3.6rem 0.7rem 1.2rem;
  position: relative;
  text-align: left;
  width: 100%;
}

.item > * {
  position: relative;
}

.item:hover {
  background: var(--color-bg-gray-tertiary);
}

.item.active {
  background: var(--color-blue);
  color: var(--color-bg-white);
}

.item.active::after {
  content: '⏎';
  display: block;
  font-size: 1.2rem;
  height: 1.2rem;
  opacity: 0.8;
  position: absolute;
  right: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.2rem;
}

.item.active p {
  color: var(--color-bg-white);
  opacity: 0.8;
}

.icon {
  font-size: 2rem;
  margin: 0 1.6rem 0 0;
}

.item h3 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.7rem;
  margin: 0;
}

.item p {
  color: var(--color-fg-gray-primary);
  font-size: 1.1rem;
  line-height: 1.3rem;
  margin: 0.1rem 0 0;
}
