.wrapper {
  background: var(--color-bg-white);
  border: solid 0.1rem var(--color-bg-gray-secondary);
  border-radius: 0.6rem;
  box-shadow: 0 0.1rem 1rem var(--color-shadow-large),
    0 0.1rem 0.3rem var(--color-shadow-small);
  max-height: 40rem;
  overflow-y: scroll;
  transition: opacity 200ms ease;
  width: 24rem;
  -webkit-overflow-scrolling: touch;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu h2 {
  background: rgba(20, 20, 20, 0.04);
  color: var(--color-bg-gray-primary);
  font-size: 1.1rem;
  line-height: 1.3rem;
  margin: 0;
  padding: 0.6rem 0.8rem;
}

.menu li {
  border-top: solid 0.1rem rgba(20, 20, 20, 0.08);
}

.menu > li:first-child {
  border: none;
}

.item {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0.6rem 1.2rem;
  text-align: left;
}

.item.active,
.item:hover {
  background: #4b5cf4;
  color: var(--color-bg-white);
}

.item.active p,
.item:hover p {
  color: var(--color-bg-white);
}

.icon {
  font-size: 2rem;
  margin: 0 1.6rem 0 0;
}

.item h3 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.7rem;
  margin: 0;
}

.item p {
  color: var(--color-fg-gray-primary);
  font-size: 1.1rem;
  line-height: 1.3rem;
  margin: 0.2rem 0;
}
