.hand {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 50%;
  pointer-events: none;
  position: fixed;
  transform: translate3d(-50%, 0, 0);
  z-index: 10;
}

.toggle {
  align-items: center;
  background: var(--color-white);
  border: none;
  border-radius: var(--deca-border-radius);
  bottom: 0.8rem;
  box-shadow: 0 0.1rem 0.3rem var(--color-bg-gray-tertiary),
    inset 0 0 0 0.1rem var(--color-bg-gray-secondary);
  color: var(--color-fg-gray-primary);
  cursor: pointer;
  display: flex;
  height: 3.2rem;
  justify-content: center;
  outline: 0;
  padding: 0.6rem 0.8rem;
  pointer-events: all;
  position: fixed;
  right: 0.8rem;
  width: 3.2rem;
  z-index: 10;
}

.toggle:hover {
  background: var(--color-bg-gray-blue);
  box-shadow: 0 0.1rem 0.3rem var(--color-bg-gray-tertiary),
    inset 0 0 0 0.1rem var(--color-blue);
  color: var(--color-blue);
}

.handContent {
  display: flex;
  pointer-events: all;
  position: relative;
  transform: translate3d(0, 14.8rem, 0);
  transition: transform 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

.handContent.hovered {
  transform: translate3d(0, 0, 0);
}

.handContent.disabled {
  opacity: 50%;
  pointer-events: none;
  transform: translate3d(0, 16.6rem, 0);
}

.hand.hidden .handContent {
  pointer-events: none;
  transform: translate3d(0, 21.6rem, 0);
}

.cardWrapper {
  position: relative;
}

.cardButton {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 2.4rem 0.8rem 1.6rem;
  text-align: left;
  transition: transform 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

.cardButton .card {
  transform: translate3d(0, 0, 0);
  transition: transform 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.cardWrapper:hover .card {
  background-color: var(--color-bg-gray-blue);
  border-color: var(--color-blue);
  transform: translate3d(0, 0, 0) scale(1.05);
}

.cardButton:active .card {
  transform: translate3d(0, 0, 0) scale(1.03);
  transition: none;
}

.card-0 .cardButton {
  transform: translate3d(6.4rem, 1.4rem, 0) rotate(-5deg);
}

.card-1 .cardButton {
  transform: translate3d(0, 0, 0);
}

.card-2 .cardButton {
  transform: translate3d(-6.4rem, 1.4rem, 0) rotate(5deg);
}

.handContent.hovered .card-0 .cardButton {
  transform: translate3d(0, 0, 0);
}
.handContent.hovered .card-2 .cardButton {
  transform: translate3d(0, 0, 0);
}

.card {
  animation: flashIn 750ms ease none;
  animationDelay: 250ms;
  background: url(/img/card-dot-grid.svg) no-repeat var(--color-white);
  background-position: center bottom 0.8rem;
  border: solid 0.1rem var(--color-bg-gray-secondary);
  border-radius: var(--deca-border-radius);
  box-shadow: 0 0.1rem 0.3rem rgba(16, 17, 25, 0.08),
    0 0.1rem 1rem rgba(16, 17, 25, 0.04);
  display: flex;
  flex-direction: column;
  height: 18.4rem;
  padding: 1.6rem 1.2rem 3.2rem;
  width: 16rem;
}

@keyframes flashIn {
  0% {
  }
  25% {
    background-color: var(--color-bg-gray-blue);
  }
  50% {
    background-color: var(--color-white);
  }
  75% {
    background-color: var(--color-bg-gray-blue);
  }
  100% {
  }
}

.icon {
  font-size: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  min-width: 2.4rem;
}

.card h3 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.96rem;
  margin: auto 0 0;
  max-width: 12.8rem;
}

.card p {
  color: var(--color-bg-gray-primary);
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.3rem;
  margin: 0.4rem 0 0;
}

.cardNew {
  align-items: center;
  background: var(--color-white);
  border: solid 0.1rem var(--color-bg-gray-tertiary);
  border-radius: var(--deca-border-radius);
  color: var(--color-fg-gray-primary);
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  height: 2.4rem;
  justify-content: center;
  padding: 0.4rem 0.8rem;
  position: absolute;
  right: 1.2rem;
  top: 1.6rem;
  z-index: 10;
}

.closeButton {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;

  font-size: 0;
  height: 4.4rem;
  justify-content: center;
  outline: none;
  opacity: 0;
  position: absolute;
  right: -1.2rem;
  top: 0.2rem;
  transition: opacity 250ms cubic-bezier(0.16, 1, 0.3, 1),
    transform 250ms cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(0.7);
  width: 4.4rem;
  z-index: 10;
}

.closeButton::before {
  background: url(/img/close.svg) no-repeat var(--color-white);
  background-position: center;

  border-radius: var(--deca-border-radius);
  box-shadow: 0 0.1rem 0.3rem rgba(16, 17, 25, 0.08),
    0 0.1rem 1rem rgba(16, 17, 25, 0.04),
    inset 0 0 0 0.1rem var(--color-bg-gray-secondary);
  content: '';
  display: block;
  height: 2.4rem;
  width: 2.4rem;
}

.closeButton.visible {
  opacity: 1;
  transform: none;
}

.closeButton.visible:hover {
  opacity: 1;
  transform: scale(1.1);
}

.closeButton:hover::before {
  background-color: var(--color-bg-gray-blue);
  box-shadow: 0 0.1rem 0.3rem var(--color-bg-gray-tertiary),
    inset 0 0 0 0.1rem var(--color-blue);
  color: var(--color-blue);
}

.closeButton:focus::before,
.closeButton:active::before {
  background-color: var(--color-bg-gray-blue);
  box-shadow: 0 0.1rem 0.3rem var(--color-bg-gray-tertiary),
    inset 0 0 0 0.2rem var(--color-blue);
  color: var(--color-blue);
}
