.navPaneContainer {
  border-right: 2px solid black;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: width 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;

  :focus {
    outline: none;
  }
}

.navPaneContainer .innerContainer {
  height: fit-content;
  padding: 1.2rem;
  position: sticky;
  top: 0;

  :focus {
    outline: none;
  }
}

.navPaneContainer.collapsed .innerContainer {
  padding-top: 1rem;
}

.navPaneContainer.expanded .innerContainer {
  padding-top: 1rem;

  p {
    margin: 0;
  }
}


.expanded {
  text-align: center;
  width: 20rem;
}

.collapsed {
  align-items: center;
  display: flex;
  text-orientation: upright;
  writing-mode: vertical-rl;
  width: 4rem;
}

.collapsed:hover {
  background-color: var(--color-bg-gray-blue);
}
