.wrapper {
  margin: 3.2rem 0;
  position: relative;
}

.wrapper::before {
  border: solid 0.1rem var(--color-bg-gray-tertiary);
  border-radius: 1rem;
  content: '';
  cursor: text;
  display: block;
  height: calc(100% + 3.2rem);
  left: -1.6rem;
  opacity: 0;
  position: absolute;
  top: -1.6rem;
  transition: opacity 200ms ease;
  width: calc(100% + 3.2rem);
}

.wrapper.active::before,
.wrapper:hover::before {
  opacity: 1;
}

.toolName {
  align-items: center;
  color: var(--color-bg-gray-primary);
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  justify-content: flex-end;
  left: -12rem;
  line-height: 1.3rem;
  position: absolute;
  text-align: right;
  user-select: none;
  width: 8rem;
}

.toolName::before {
  background: url(/img/icons/16x16/tool-choices.svg) no-repeat;
  content: '';
  display: block;
  height: 1.6rem;
  margin-right: 0.8rem;
  width: 1.6rem;
}

.list {
  counter-reset: number;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  --color-choice: var(--color-blue);
  counter-increment: number;
  margin: 0;
  padding: 0.6rem 0 0.6rem 4rem;
  position: relative;
}

.item::before {
  align-items: center;
  background: var(--color-choice);
  border-radius: 50%;
  color: var(--color-bg-white);
  content: counter(number, upper-alpha);
  display: flex;
  font-size: 1.3rem;
  font-weight: 700;
  height: 2.4rem;
  justify-content: center;
  left: 0;
  line-height: 2.4rem;
  padding: 0 0 0 0.1rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 0.6rem;
  width: 2.4rem;
}

.item:nth-child(1)::before {
  --color-choice: var(--color-blue);
}

.item:nth-child(2)::before {
  --color-choice: var(--color-pink);
}

.item:nth-child(3)::before {
  --color-choice: var(--color-orange);
}

.item:nth-child(4)::before {
  --color-choice: var(--color-green);
}

.item:nth-child(5)::before {
  --color-choice: var(--color-red);
}

.item:nth-child(6)::before {
  --color-choice: var(--color-purple);
}

.itemTitle {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0;
  position: relative;
}

.item > ul {
  margin-top: 1.2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.item li p {
  font-size: 0.9em;
}

.placeholder {
  align-items: center;
  color: var(--color-bg-gray-primary);
  display: flex;
  font-weight: 400;
  height: 1.8rem;
  left: 0;
  position: absolute;
  top: 0.3rem;
  user-select: none;
  z-index: -1;
}
