@font-face {
  font-family: 'LT Prospectus S';
  src: url(/fonts/Prospectus-S-Black.woff2) format('woff2'),
    url(/fonts/Prospectus-S-Black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
  font-synthesis: none;
  font-display: block;
}
