:root {
  --color-off-white: #fcfcfd;
  --color-white: #fff;
  --color-black: #101119;

  --color-white-overlay: rgba(255, 255, 255, 0.78);
  --color-black-overlay: rgba(20, 20, 20, 0.78);

  --color-fg-gray-primary: #717284;
  --color-bg-gray-primary: #9c9dab;
  --color-bg-gray-secondary: #c8c8d0;
  --color-bg-gray-tertiary: #e9e9ec;
  --color-bg-gray-blue: #edeffe;

  --color-blue: #4b5cf4;
  --color-red: #e4112b;
  --color-green: #008554;
  --color-orange: #db3c00;
  --color-pink: #e00087;
  --color-purple: #7b63ca;

  --color-shadow-large: rgba(20, 20, 20, 0.04);
  --color-shadow-small: rgba(20, 20, 20, 0.08);

  --font-symbol: 'Monoton', cursive;
  --font-wordmark: 'Baloo Tammudu 2', cursive;
  --font-serif: LT Prospectus S, Georgia, serif;
  --font-sans-serif: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --header-height: 4.8rem;
  --editor-width: 64rem;
  --editor-top-padding: 9.6rem;
  --editor-side-padding: 4.8rem;
  --editor-bottom-padding: calc(
    50vh - var(--editor-top-padding) - var(--header-height)
  );

  --scroll-bottom-padding: 6.4rem;

  // TODO: Consolidate z-indices
  --z-index-header: 20;

  --deca-border-radius: 0.2rem;

  --border-thick: 0.7rem;
  --border-medium: 0.3rem;
  --border-thin: 0.1rem;

  // Copy from deca.ai.
  --color-off-black: #171819;
  --color-cyan: #12e1fa;
  --color-magenta: #fe0ac8;
  --color-yellow: #f6dd2c;
  --color-gray-primary: #757677;
  --color-gray-secondary: #c5c6c7;

  --curve-spring: cubic-bezier(0.34, 1.56, 0.64, 1);
}
