:root {
  --color-bg-white: #fff;
  --color-fg-black: #101119;

  --color-fg-gray-primary: #717284;
  --color-bg-gray-primary: #9c9dab;
  --color-bg-gray-secondary: #c8c8d0;
  --color-bg-gray-tertiary: #e9e9ec;
}
