:root {
  --color-bg-white: #fff;
  --color-fg-black: #101119;

  --color-fg-gray-primary: #717284;
  --color-bg-gray-primary: #9c9dab;
  --color-bg-gray-secondary: #c8c8d0;
  --color-bg-gray-tertiary: #e9e9ec;

  --color-blue: #4b5cf4;
  --color-red: #e4112b;
  --color-green: #008554;
  --color-orange: #db3c00;
  --color-pink: #e00087;
  --color-purple: #7b63ca;

  --color-shadow-large: rgba(20, 20, 20, 0.04);
  --color-shadow-small: rgba(20, 20, 20, 0.08);

  --font-serif: LT Prospectus S, Georgia, serif;
  --font-sans-serif: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --header-height: 5.6rem;
  --editor-top-padding: 9.6rem;
  --editor-side-padding: 4.8rem;
}
