@import 'styles/_normalize.scss';
@import 'styles/_fonts.scss';
@import 'styles/_vars.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: var(--color-bg-white);
  color: var(--color-fg-black);
  font-size: 62.5%;
}

body {
  font-family: var(--font-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
}
