@import 'styles/_normalize.scss';
@import 'styles/_fonts.scss';
@import 'styles/_vars.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: var(--color-white);
  color: var(--color-black);
  font-size: 62.5%;

  scroll-padding-top: var(--header-height);

  // Ensures there's space in the editor when repeatedly creating new lines
  scroll-padding-bottom: var(--scroll-bottom-padding);
}

body {
  font-family: var(--font-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
}
