.loginPage {
  align-items: center;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
};

.logo {
  margin: 0 0 3rem 0;
}

.loginFormWrapper {
  align-items: center;
  border: 0.7rem solid var(--color-black);
  border-radius: var(--deca-border-radius);
  display: flex;
  flex-direction: column;
  height: 40rem;
  justify-content: center;
  min-height: 40rem;
  min-width: 40rem;
  padding: 1.5rem;
  width: 40rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;

  & input {
    border: 0.3rem solid var(--color-black);
    border-radius: var(--deca-border-radius);
    height: 3rem;
    margin-bottom: 1rem;
    padding: 0 1rem;

    &:active, &:focus {
      background-color: var(--color-bg-gray-blue);
      border: 0.3rem solid var(--color-blue);
      outline: none;
    }

    &:hover {
      background-color: var(--color-bg-gray-blue);
    }
  }
}

.loginSubmit {
  background-color: transparent;
  border: 0.3rem solid var(--color-black);
  border-radius: var(--deca-border-radius);
  height: 3rem;

  &:active, &:focus {
    background-color: var(--color-bg-gray-blue);
    border: 0.3rem solid var(--color-blue);
    outline: none;
  }

  &:hover {
    background-color: var(--color-bg-gray-blue);
    cursor: pointer;
  }
}

.loginMessage {
  font-size: 1.2rem;

}

.toggleLink {
  border-bottom: 0.3rem solid var(--color-black);

  &:hover {
    background-color: var(--color-bg-gray-blue);
    cursor: pointer;
  }

  &:active, &:focus {
    border-bottom: 0.3rem solid var(--color-blue);
  }

  a {
    text-decoration: none;
  }
}
