.ul {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0.4rem 0;
  padding-left: 2.4rem;
}

.ul li p {
  display: inline-block;
  margin: 0;
  vertical-align: text-top;
}

// Alternate disc/circle/square styles up to 10 levels deep
.ul,
.ul ul ul ul,
.ul ul ul ul ul ul ul,
.ul ul ul ul ul ul ul ul ul ul {
  list-style-type: disc;
}

.ul ul,
.ul ul ul ul ul,
.ul ul ul ul ul ul ul ul {
  list-style-type: circle;
}

.ul ul ul,
.ul ul ul ul ul ul,
.ul ul ul ul ul ul ul ul ul {
  list-style-type: square;
}

.dragHandle {
  cursor: drag;
  left: -4.5rem;
  position: absolute;
  top: 0.4rem;
  width: 3.5rem;
  z-index: 1;

  circle {
    fill: var(--color-bg-gray-primary);
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    visibility: hidden;
  }
}

.dragHandle.active circle {
  fill: var(--color-fg-gray-primary);
}

.dragHandle.active,
.dragHandle:active,
.dragHandle:hover,
.wrapper:hover .dragHandle {
  circle {
    opacity: 1;
    visibility: visible;
  }
}

.listContainer {
  padding-left: 2rem;
  position: relative;
}