.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  margin: 0;
  padding: 0.6rem 0 0.6rem 4rem;
  position: relative;
}

.item::before {
  background: url(/img/icons/24x24/tool-inversion-slash.svg) no-repeat;
  content: '';
  display: block;
  height: 2.4rem;
  left: 0;
  line-height: 2.4rem;
  pointer-events: none;
  position: absolute;
  top: 0.6rem;
  width: 2.4rem;
}

.itemTitle {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0;
  position: relative;
}

.placeholder {
  align-items: center;
  color: var(--color-bg-gray-primary);
  display: flex;
  font-weight: 400;
  height: 1.8rem;
  left: 0;
  position: absolute;
  top: 0.3rem;
  user-select: none;
  z-index: -1;
}

.sublist {
  font-size: 1.5rem;
  line-height: 2.2rem;
  list-style: disc;
  margin: 0.8rem 0 0;
  padding: 0 0 0 2.4rem;
}

.sublistItem {
  margin: 0.8rem 0;
  position: relative;
}

.sublistItem .placeholder {
  height: initial;
  top: 0;
}

.sublistItemParagraph {
  display: inline-block;
  margin: 0;
  vertical-align: text-top;
}
